@import url(font/stylesheet.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

a,
button {
  cursor: pointer;
}

.container {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
}

body {
  background: #191a2c;
  font-family: "BebasNeueBold", sans-serif;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

/* ===== header ===== */

header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 174px;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  margin: 0 2px;
  padding: 0 14px;
  background: none;
}

.logo {
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 105px);
}

nav a:hover {
  background: #f75151;
}

.user-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user-bar__item {
  margin: 0 7px;
}

.user-bar__online {
  display: flex;
  align-items: center;
}

@-webkit-keyframes online {
  0%,
  100% {
      opacity: .4;
  }

  50% {
      opacity: 0;
  }
}

@keyframes online {
  0%,
  100% {
      opacity: .4;
  }

  50% {
      opacity: 0;
  }
}

.online-stats-cube {
  position: relative;
  background-color: #5fcb8a;
  width: 10px;
  height: 10px;
}

.online-stats-cube::before {
  content: '';
  position: absolute;
  background-color: #5fcb8a;
  height: 1.5rem;
  width: 1.5rem;
  top: -7px;
  left: -7px;
  -webkit-animation: 2s online infinite linear;
  animation: 2s online infinite linear;
}

.online__num {
  margin-left: 16px;
}

.user-bar__language {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 93px;
  background: #1f2137;
  cursor: pointer;
}

.language__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93px;
  height: 100%;
}

.language__list {
  position: absolute;
  display: none;
  bottom: -94px;
  left: 0;
  width: 93px;
  z-index: 10;
}

.language__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93px;
  height: 42px;
  background: #1f2137;
}

.user-bar__language:hover .language__list {
  display: block;
}

.user-bar__balance {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 134px;
  cursor: pointer;
  background: #f75151;
}

.balance__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  height: 42px;
}

.balance__list {
  position: absolute;
  bottom: -178px;
  left: 0;
  display: none;
  width: 134px;
  height: 168px;
  z-index: 10;
}

.user-bar__balance:hover .balance__list {
  display: block;
}

.balance__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  height: 42px;
  background: #f75151;
}

.user-bar__profile {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  width: 158px;
  cursor: pointer;
}

.user-bar__profile:hover .profile__list {
  display: block;
}

.profile__list {
  position: absolute;
  bottom: -136px;
  left: 0;
  display: none;
  width: 158px;
  height: 126px;
  background: #f75151;
  z-index: 10;
}

.profile__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 158px;
  height: 42px;
}

.user-bar__avatar {
  width: 42px;
  max-width: 42px;
  height: 42px;
  margin: 0;
}

.user-bar__menu {
  position: relative;
  width: 16px;
  max-width: 16px;
  height: 14px;
  margin: 0;
  cursor: pointer;
}

.user-bar__menu span:nth-child(2) {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}

.user-bar__menu span:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}

.user-bar__menu span:last-child {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}

/* ===== main ===== */

main .container {
  background: url(img/background.png);
  background-repeat: no-repeat;
}

.main__top {
  position: relative;
  display:  flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.mode {
  position: absolute;
  top: 0;
  left: calc(50% - 195px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mode__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 123px;
  height: 42px;
  border: 2px solid #fff;
}

.mode__item:hover {
  border: 2px solid #f75151;
  color: #f75151;
}

.mode__item2 {
  margin: 0 10px;
}

.mode__icon {
  margin-right: 3px;
}

.mode__text {
  margin-left: 3px;
}

.history {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.history__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 113px;
  height: 42px;
}

.history__item:first-child {
  background: #51b3f7;
}

.history__item:last-child {
  margin-left: 10px;
  background: #5fcb8a;
}

.sum {
  text-align: center;
  font-size: 70px;
}

.bet-data {
  display: flex;
  justify-content: space-between;
}

.bet-data__graph {
  position: relative;
  width: 274px;
  min-width: 274px;
  height: 274px;
}

.bet-data__circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle__part {
  position: absolute;
  top: -90px;
  right: -20px;
}

.bet-data__num {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 70px;
}

.bet-data__right {
  margin-top: 41px;
}

.bet-data__form {
  display: flex;
  justify-content: space-between;
}

.form__sum {
  position: relative;
  width: 399px;
  max-width: 100%;
  height: 55px;
}

.form__sum input {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  border: 2px solid #fff;
  outline: none;
  background: none;
  color: #fff;
  font-family: "BebasNeueBold", sans-serif;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

.form__sum input::placeholder {
  color: #fff;
  font-family: "BebasNeueBold", sans-serif;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

.form__sum input:focus {
  border: 2px solid #f75151;
}

.form__sum p {
  position: absolute;
  top: -33px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 108px;
  height: 33px;
  background: #fff;
  color: #191a2c;
}

.form__sum input:focus + p {
  background: #f75151;
}

.form__sum div {
  position: absolute;
  top: -33px;
  right: 108px;
  width: 33px;
  height: 33px;
  background: url(img/background_wt.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.form__sum input:focus ~ div {
  background: url(img/background_red.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.form__submit {
  position: relative;
  width: 191px;
  height: 55px;
  margin: 0 20px;
}

.form__submit button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: #f75151;
  font-family: "BebasNeueBold", sans-serif;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

.form__submit div {
  position: absolute;
  top: -31px;
  right: -12px;
  width: 17px;
  height: 17px;
  background: #f75151;
}

.form__data {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__balance {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  margin-right: 20px;
}

.form__balance .red {
  margin-right: 5px;
  color: #f75151;
}

.form__chance {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}

.form__chance .red {
  margin-right: 5px;
  transform: rotate(90deg);
  color: #f75151;
}

.bet-data__right-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-items: center;
  margin-top: 42px;
  margin-left: -35px;
  max-width: 1058px;
  overflow: hidden;
}

.right__text {
  width: 105px;
  height: 22px;
  text-align: center;
  transform: rotate(-90deg);
}

.right__item {
  width: 74px;
  margin: 0 10px;
}

.right__item:first-child {
  margin-left: -35px;
}

.right__item_img {
  width: 100%;
}

.right__item_text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  margin-top: 5px;
  background: #1f2137;
}

.bet {
  margin-top: 66px;
  width: 100%;
}

.bet th,
.bet tr {
  width: 25%;
  height: 70px;
  /* padding: 20px 0; */
  text-align: center;
}

.bet tr:nth-child(odd) {
  background: #1f2137;
}

.bet tr:nth-child(even) {
  background: #1a1b2d;
}

.bet__user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.bet__user img {
  margin-right: 7px;
}

.bet__user p {
  margin-left: 7px;
}

.bet__chance {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.chance__bar {
  width: 72px;
  max-width: 100%;
  height: 12px;
  margin-right: 6px;
  background: #352e3e;
}

.bar__inner {
  width: 90%;
  height: 100%;
  background: #f75151;
}

.bet__percentage {
  margin-left: 6px;
}

.message {
  display: none;
  justify-content: space-between;
  align-items: flex-start;
  padding: 42px;
  background: #1f2137;
}

.message__left {
  width: 900px;
  max-width: 100%;
}

.message__list {
  width: 970px;
  max-width: 100%;
}

.message__item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 42px;
  margin: 10px 0;
}

.message__user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 42px;
}

.message__avatar {
  margin-right: 15px;
}

.message__num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-left: 6px;
  background: #f75151;
}

.message__inner {
  min-height: 42px;
  max-width: calc(100% - 300px);
  padding-top: 9px;
  margin: 0 20px;
}

.message__date {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  font-size: 16px;
}

.message__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 970px;
  max-width: 100%;
  min-height: 50px;
  margin-top: 20px;
}

.message__input {
  width: calc(100% - 155px);
  height: 50px;
  padding: 0 16px;
  outline: none;
  border: none;
  background: #282a3f;
  font-family: "BebasNeueBold", sans-serif;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

.message__input::placeholder {
  font-family: "BebasNeueBold", sans-serif;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

.message__submit {
  width: 145px;
  height: 50px;
  border: none;
  outline: none;
  background: #f75151;
  font-family: "BebasNeueBold", sans-serif;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

.message__right {
  width: 380px;
  max-width: 100%;
  padding: 0 55px;
}

.message__right_top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message__right_top .giving {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 42px;
  margin-right: 5px;
  border: 2px solid #fff;
}

.message__right_top .plus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  height: 42px;
  width: 42px;
  background: #51b3f7;
  font-size: 50px;
  cursor: pointer;
}

.message__right p {
  margin: 27px 0;
  font-size: 20px;
}

.message__right_middle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 21px;
}

.message__right_middle div {
  margin-right: 6px;
}

.message__right_middle .add {
  width: 177px;
  height: 34px;
  border: none;
  outline: none;
  background: #f75151;
  margin-left: 6px;
  font-family: "BebasNeueBold", sans-serif;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

/* ===== footer ===== */

footer .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.open-chat {
  position: absolute;
  top: calc(50% - 21px);
  left: calc(50% - 63px);
  display: flex;
  align-items: center;
  height: 42px;
  padding: 0 45px;
  background: #1f2137;
  border: none;
  outline: none;
}

.open-chat__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 22px;
  padding: 0 6px;
  margin-right: 6px;
  background: #fff;
}

.open-chat__icon div {
  width: 4px;
  height: 4px;
  background: #37394d;
}

.open-chat__text {
  margin-left: 6px;
  font-family: "BebasNeueBold", sans-serif;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 42px;
}

.links__soc.vk {
  margin: 0 10px 0 16px;
}

/* ===== ===== */

.connect-server {
  position: absolute;
  top: 300px;
  left: -122px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 294px;
  height: 50px;
  /* background: #f75151; */
  background: url(img/background-rotate.png) 0 0;
  background-size: cover;
  transform: rotate(90deg);
  z-index: -10;
}

.circle-bg {
  position: absolute;
  top: 750px;
  left: -150px;
  z-index: -10;
}

.loading {
  position: absolute;
  top: 1000px;
  right: -49px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 56px;
  background: url(img/background-rotate2.png) 0 0;
  background-size: cover;
  transform: rotate(-90deg);
  z-index: -10;
}

.design {
  position: absolute;
  top: 600px;
  right: 0;
  z-index: -10;
}